body {
	font-family: 'Roboto', sans-serif;
	transition: background-color 3s ease;
	margin: 0;
	cursor: default;
	user-select: none;
	// overflow-x: hidden;
}

.blog-container {
	padding: 20px;
	margin: 0 auto;
	width: 60%;
}

.blog-header {
	padding: 20px;
	background-color: lime;
	transition: background-color 3s ease;
	text-align: center;
}

.bold {
	font-weight: 900;
}
.article-header {
	padding: 10px;
	background-color: #e6e6e6;
}
.article-body {
	// padding: 0px;
	margin-bottom: 80px;
}
.article-body blockquote {
	margin: 0;
	padding-left: 12px;
	border-left: 4px solid #e6e6e6;
	font-family: Roboto, sans-serif;
	line-height: 140%;
	font-size: 17px;
	color: #aaa;
}
.article-body h3 {
	font-size: 20px;
}
.blog-container p {
	font-family: Lora, serif;
	line-height: 140%;
	cursor: auto;
	text-align: justify;
	font-size: 17px;
}
.blog-container li {
	font-family: Lora, serif;
	line-height: 140%;
	cursor: auto;
	text-align: justify;
	font-size: 17px;
}
p.signature {
	color: #888;
	font-style: oblique;
}
.blog-container p code {
	font-family: 'Roboto Mono', monospace;
	padding: 2px;
	font-size: 13px;
	background-color: #f0f0f0;
}
.blog-container a:link, a:visited {
	color: darkturquoise;
	text-decoration: none;
}
.blog-container a:hover {
	text-decoration: underline;
}
.blog-container h2 {
	padding: 0;
	margin: 0;
}
.blog-subtitle {
	color: #aaaaaa;
	font-size: 18px;
}

#circle {
	opacity: 0.1;
}

#icons {
	visibility: hidden;
}

.bottom {
	bottom: 0px;
	position: absolute;
}

.top {
	top: 0px;
}
.right {
	right: 0px;
}

.extension {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	margin: 10px;
	background-color: white;
	padding: 0px;
	transition: opacity 0.5s ease, background-color 1s ease;
}
.extension a i {
	padding-top: 5px;
	padding-bottom: 5px;
}

.link:link, .link:visited {
	color: black;
	text-decoration: none;
}
.link:hover {
	text-decoration: underline;
}

.dismiss i {
	font-size: 16px;
}
.dismiss:link, .dismiss:visited {
	color: #aaaaaa;
	transition: color 0.5s ease;
}
.dismiss:hover {
	color: red;
}

.alert-message {
	opacity: 0;
	transition: opacity 1s ease;
	background-color: white;
	width: 100%;
	text-align: center;
	font-size: 24px;
}
.alert-text {
	margin: 10px;
}

.container {
	padding: 0;
	margin: 0;
	height: 100vh;
	position: relative;
	-webkit-backface-visibility: hidden;
	transition: background-color 3s ease;
	overflow-x: hidden;
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center-inside {
	text-align: center;
}
.top-right {
	position: absolute;
	top: 20px;
	right: 20px;
}
#countdown {
	opacity: 0;
	z-index: 1;
	transition: opacity 3s ease;
}
.time {
	text-align: center;
	transition: color 3s ease;
}
.subtitle {
	text-align: center;
	transition: color 3s ease;
}
#scheduleName {
	opacity: 0.3;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	padding: 10px;
}
.period {
	list-style: none;
	transition: background-color 0.5s ease;
}
.time {
	color: #999999;
}
.completed {
	color: #999999;
	text-decoration: line-through;
}
.current {
	background-color: #eeeeee;
}
#noClasses {
	color: #999999;
	font-style: italic;
}

.footer-right {
	position: absolute;
	right: 20px;
	bottom: 10px;
}
.footer-left {
	position: absolute;
	left: 20px;
	bottom: 20px;
}
.cyan {
	background-color: cyan;
}
.login {
	height: 500px;
	width: 500px;
	background-color: white;
}

#settingsIcon {
	font-size: 50px;
	color: #aaaaaa;
	cursor: pointer;
	transition: opacity 2s ease, transform 1s ease, color 1s ease;
}
#settingsIcon:hover {
	color: #000000;
	transform: rotate(2rad);
}
#doneIcon {
	font-size: 50px;
	color: #aaaaaa;
	cursor: pointer;
	transition: color 1s ease, opacity 2s ease;
}
#doneIcon:hover {
	color: limegreen;
}
.loading {
	text-align: center;
	font-size: 18px;
	position: fixed;
	display: none;
	opacity: 0.3;
}
#loadingIcon {
	font-size: 120px;
	animation: spin 1s linear infinite;
}
@keyframes spin { 100% { transform:rotate(-360deg); } }

.downArrow {
	display: none;
	position: fixed;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, -5%);
	transition: opacity 1s linear;
}
#downIcon {
	font-size: 120px;
	cursor: pointer;
	animation: pulse 4s linear infinite;
}
@keyframes pulse { 
	0% { opacity: 0; }
	50% { opacity: 0.5; }
	100% { opacity: 0; }
}

#loadingMessage {
	text-align: center;
}
.inputBox {
	font-family: 'Roboto', sans-serif;
	border: 1px solid #dddddd;
	font-size: 20px;
	padding: 10px;
	outline: none;
	width: 12em;
	transition: border-color 1s ease;
}
.inputBox:focus {
	border-color: darkturquoise;
	outline: none;
}
.inputBox:disabled {
	text-decoration: line-through;
	background-color: #eeeeee;
}

.darkenedTextField {
	background-color: lightgray;
}

.footer-left a:link,
.footer-left a:visited {
	color: #aaaaaa;
	font-size: 20px;
	text-decoration: none;
	transition: color 1s ease;
}
.footer-left a:hover {
	color: darkturquoise;
}


#scheduleEntry {
	display: none;
}
#scheduleDisplay {
	/*display: none;*/
}

select {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	width: 13em;
	font-family: 'Roboto', sans-serif;
	border: 1px solid #dddddd;
	border-radius: 0px;
	font-size: 20px;
	padding: 10px;
	background: white;
	outline: none;
	transition: border-color 1s ease;
}
select:focus {
	border-color: darkturquoise;
}
.tableLabel {
	width: 60px;
}
hr {
	border: 0;
	height: 1px;
	background-color: #aaaaaa;
}

/*
checkbox css is modified from https://kyusuf.com/post/completely-css-custom-checkbox-radio-buttons-and-select-boxes
*/
.control-group {
	display: inline-block;
	width: 200px;
	height: 210px;
	margin: 10px;
	padding: 30px;
	text-align: left;
	vertical-align: top;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.control {
	font-size: 18px;
	position: relative;
	display: block;
	margin-bottom: 15px;
	padding-left: 30px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.control__indicator {
	position: absolute;
	top: 0px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #e6e6e6;
	transform: rotate(135deg);
	transition: background-color 0.5s ease, transform 0.5s ease;
}

/* Checked state */
.control input:checked ~ .control__indicator {
	background: darkturquoise;
	transform: rotate(0deg);
}

/* Check mark */
.control__indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
	display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

.checkbox {
	width: 0px;
}