
body {
    font-family: Roboto, sans-serif;
    transition: background-color 3s ease;
    margin: 0;
    min-width: 400px;
    min-height: 400px;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    overflow-x: hidden;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

canvas {
	opacity: 0.1;
}

.bottom {
	bottom: 0px;
	position: absolute;
}

.alert-message {
	opacity: 0;
	background-color: white;
	width: 100%;
	text-align: center;
	font-size: 24px;
}
.alert-text {
	margin: 10px;
}
.container {
    padding: 0;
    margin: 0;
    height: 100vh;
    position: relative;
    -webkit-backface-visibility: hidden;
    overflow-x: hidden;
    background-position: center;
    animation: fade-in 0.5s;
    overflow-y: hidden;
}

.background {
    transition: opacity 3s ease;
}

.fill-parent {
    width: 100%;
    height: 100%;
    position: absolute;
}

.no-classes {
    color: #999999;
    font-style: italic;
    font-size: 1.5em;
}

.school-indicator {
    opacity: 0;
    transition: opacity 1s ease;
}
.school-indicator:hover {
    opacity: 0.5;
}

table {
    font-size: 1.2em;
    border-collapse: collapse;
    border-spacing: 0;
}
td {
    padding: 0.5em;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.center-inside {
	text-align: center;
}
.top-right {
	position: absolute;
	top: 20px;
	right: 20px;
}

.top {
    position: absolute;
    top: 0px;
}
.no-decoration {
    text-decoration: none;
}
.popup {
    margin: 1em;
    font-size: 0.8em;
    padding: 0.2em;
}
.link:link, .link:visited {
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}

.fade-in {
    animation: fade-in 0.5s;
}
@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}
.fade-out {
    animation: fade-out 0.5s;
}
@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

div.time {
    font-size: 10em;
    transition: color 3s ease;
}
.period {
    font-size: 3em;
    transition: color 3s ease;
}
.schedule {
    font-size: 3em;
    transition: color 3s ease;
    opacity: 0.3;
}

.footer-right {
	position: absolute;
	right: 20px;
	bottom: 10px;
}
.footer-left {
	position: absolute;
	left: 20px;
	bottom: 20px;
}
.cyan {
	background-color: cyan;
}
.login {
	height: 500px;
	width: 500px;
	background-color: white;
}

.settings-icon {
    color: #aaa;
    cursor: pointer;
    transition: opacity 1s ease, color 1s ease, transform 1s ease;
    opacity: 0.2;
    font-size: 4em;
}
.settings-icon:hover {
    color: black;
    opacity: 1;
    transform: rotate(2rad);
}


.loading {
    text-align: center;
    font-size: 1.5em;
    position: fixed;
    opacity: 0.3;
    transition: opacity 0.3s ease;
}

.loading-icon {
    font-size: 6em;
}
.spin {
    animation: spin 0.8s linear infinite;
}
@keyframes spin { 100% { transform:rotate(-360deg); } }


