head
  title#title Bell Countdown
  link(rel="shortcut icon", type="image/png", href="/favicons/empty.png")#favicon
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
  link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
  link(rel="stylesheet", type="text/css", href="/css/style.css?v=" + version)
