extends generic.pug
block body
  script(src='/bin/classes.js')
  .blog-header
    h1 Enter Classes
  .add-link
    a(href="/enter").add + Add Class
  ul.class-list#class-list
  .footer-right(style='position:fixed;')
    a(href='/settings')
      i.material-icons#doneIcon done