head
  title#title Bell Countdown
  link(rel="shortcut icon", type="image/png", href="/favicons/empty.png")#favicon
  link(rel="stylesheet", href="/css/style-mithril.css?v=" + version)
  script(type="text/javascript", src="/timesync/timesync.js")
body
  script(type="text/javascript", src="/bin/client-mithril.js")
  