extends generic.pug
block body
  script(src='/bin/enter.js')
  .blog-header
    h1 Enter Class 
  .course-input Class Name
    input.inputBox.course-name#course-name(type='text', placeholder='Class Name', maxlength='30', autofocus)
    #enter-section
  .add-link
    a.add#add-section-button(href='#') + Add Section
  .footer-right(style='position:fixed;')
    i.material-icons.doneIcon#done-button done
