//
  Copyright (c) 2017 Nicolas Chan <nicolas@nicolaschan.com>
  MIT License (https://github.com/nicolaschan/bell)
  Version: #{version}
  Server: #{server_name}

doctype html
html
  include includes/head.pug
  body
    block body