extends generic.pug
block body
  script(src='/bin/periods.js')
  .blog-header
    h1#periods-title Periods 
  div(style='margin:1em auto;text-align:center;')
    table#scheduleEntryTable(style='margin:1em auto')
  .footer-right(style='position:fixed;')
      i.material-icons#doneIcon done