extends generic.pug
block body
  .blog-header
    h1 Settings 
  .container
    .top.right.extension#extension
      table
        tr
          td
            //a.link.center-vertical(href="/blog", target="_blank")
            span#extension-text A More Customizable Bell Countdown
          td
            a.dismiss.center-vertical#dismiss(href="#")
              i.material-icons cancel