extends generic.pug
block body
  script(src='/bin/settings.js')
  .blog-header
    h1 Settings 
  .container
    .centered
      input.inputBox.center-text(type='text', placeholder='Subscribe to Schedule', maxlength=16, autofocus)
