
<!DOCTYPE web-app>
<web-app>
    <display-name>countdown.zone</display-name>
    <description>
        A bell timer.
    </description>
    <context-param>
        <param-name>db-name</param-name>
        <param-value>jdbc/bell</param-value>
    </context-param>
    <context-param>
        <param-name>pg-enabled</param-name>
        <param-value>false</param-value>
    </context-param>
    <!-- Responses to error codes -->
    <error-page>
        <error-code>404</error-code>
        <location>/errors/error404.jsp</location>
    </error-page>

    <error-page>
        <error-code>418</error-code>
        <location>/errors/teapot.jsp</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/errors/serverError.jsp</location>
    </error-page>

    <!-- Static views and redirects -->
    <servlet>
        <servlet-name>static</servlet-name>
        <servlet-class>com.countdownzone.api.StaticServlet</servlet-class>
    </servlet>

    <!-- Static resources -->
    <servlet>
        <servlet-name>resources</servlet-name>
        <servlet-class>com.countdownzone.api.ResourceServlet</servlet-class>
    </servlet>

    <!-- API servlets -->
    <servlet>
        <servlet-name>api-general</servlet-name>
        <servlet-class>com.countdownzone.api.APIGeneralServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>api-sources</servlet-name>
        <servlet-class>com.countdownzone.api.APISourcesServlet</servlet-class>
    </servlet>

    <!-- Analytics servlets -->

    <servlet>
        <servlet-name>analytics</servlet-name>
        <servlet-class>com.countdownzone.analytics.AnalyticsHandler</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- Data servlet -->
    <servlet>
        <servlet-name>data</servlet-name>
        <servlet-class>com.countdownzone.api.DataServlet</servlet-class>
    </servlet>

    <!-- Timesync servlet -->
    <servlet>
        <servlet-name>timesync</servlet-name>
        <servlet-class>com.countdownzone.timesync.TimesyncServlet</servlet-class>
    </servlet>

    <!-- Mappings for static views -->
    <servlet-mapping>
        <servlet-name>static</servlet-name>
        <url-pattern></url-pattern>
        <url-pattern>/</url-pattern>
        <url-pattern>/m</url-pattern>
        <url-pattern>/periods</url-pattern>
        <url-pattern>/classes</url-pattern>
        <url-pattern>/enter</url-pattern>
        <url-pattern>/settings</url-pattern>
        <url-pattern>/blog</url-pattern>
        <url-pattern>/xt</url-pattern>
        <url-pattern>/extension</url-pattern>
        <url-pattern>/gh</url-pattern>
        <url-pattern>/stats</url-pattern>
    </servlet-mapping>

    <!-- Mappings for static resources -->
    <servlet-mapping>
        <servlet-name>resources</servlet-name>
        <url-pattern>/favicons/*</url-pattern>
        <url-pattern>/bin/*</url-pattern>
        <url-pattern>/css/*</url-pattern>
        <url-pattern>/img/*</url-pattern>
        <url-pattern>/icons/*</url-pattern>
        <url-pattern>/fonts/*</url-pattern>
    </servlet-mapping>

    <!-- Mappings for /api requests -->
    <servlet-mapping>
        <servlet-name>api-general</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>api-sources</servlet-name>
        <url-pattern>/api/sources/*</url-pattern>
    </servlet-mapping>

    <!-- Mapping for /api/data requests -->
    <servlet-mapping>
        <servlet-name>data</servlet-name>
        <url-pattern>/api/data/*</url-pattern>
    </servlet-mapping>

    <!-- Mapping for analytics requests -->
    <servlet-mapping>
        <servlet-name>analytics</servlet-name>
        <url-pattern>/api/analytics</url-pattern>
        <url-pattern>/api/errors</url-pattern>
        <url-pattern>/api/stats</url-pattern>
    </servlet-mapping>

    <!-- Mapping for timesync servlet -->
    <servlet-mapping>
        <servlet-name>timesync</servlet-name>
        <url-pattern>/timesync/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>cache-control</filter-name>
        <filter-class>com.countdownzone.server.HeaderFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>cache-control</filter-name>
    <url-pattern>/*</url-pattern>
    </filter-mapping>

    <resource-ref>
        <description>Analytics database</description>
        <res-ref-name>jdbc/bell</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <resource-env-ref>
        <description>Object factory for ErrorBean instances</description>
        <resource-env-ref-name>
            bean/ErrorBean
        </resource-env-ref-name>
        <resource-env-ref-type>
            com.countdownzone.server.ErrorBean
        </resource-env-ref-type>
    </resource-env-ref>
</web-app>
