name: Docker Image CI - master

on:
  push:
    branches: ["master"]

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build & push docker image
        run: |
          docker build . --push --file Dockerfile \
          --tag ghcr.io/nicolaschan/bell:master
